@import "normalize"

*
  box-sizing: border-box

body
  background: #F4F4F4

img
  max-width: 100%

.container
  width: 96%
  margin: 0 auto

@media(min-width: 426px)
  .container
    width: 90%

@media(min-width: 960px)
  .container
    width: 68%
    max-width: 870px
    // border: 1px solid

@import "hero"
@import "artist"
@import "country"
@import "main-artist"
